<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="note-section label">{{localize "ITEM.Karma.Prerequisite"}}</h2>
{{#if editable}}<prose-mirror name="system.karma.effect.value" button="true" value="{{system.karma.effect.value}}">{{{enrichment.system.karma.effect.value}}}</prose-mirror>{{else}}{{{enrichment.system.karma.effect.value}}}{{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
<h2 class="note-section label">{{localize "ITEM.Karma.Effect"}}</h2>
{{#if editable}}<prose-mirror name="system.karma.prerequisite.value" button="true" value="{{system.karma.prerequisite.value}}">{{{enrichment.system.karma.prerequisite.value}}}</prose-mirror>{{else}}{{{enrichment.system.karma.prerequisite.value}}}{{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="flex">
                <div class="col-4">
                    {{localize "ITEM.Karma.Cost"}}
                </div>
                <div class="col-8">
                    <input class="input-info" type="number" value="{{system.karma.cost.value}}" name="system.karma.cost.value" min="0" step="1">
                </div>
                <div class="col-4">
                    {{localize "ITEM.Karma.Skill"}}
                </div>
                <div class="col-8">
                    <input class="input-info" type="text" value="{{system.karma.skill.value}}" name="system.karma.skill.value">
                </div>
            </div>
        </div>
    </div>
</div>
