<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{localize "SHIPSHEET.WeaponMountType"}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-content-md-6 col-content-lg-4">
            <span>{{localize 'SHIPSHEET.WeaponMountType'}}</span>
        </div>
        <div class="col-12 col-content-md-6 col-content-lg-8">
            {{#select system.weaponMountType.value}}
            <select name="system.weaponMountType.value">
                {{#each shipWeaponsMountTypes as |element x|}}
                <option value="{{x}}"
                        {{#if (eq x item.weaponMountType.value)}}
                        selected="selected"
                        {{/if}}
                >{{localize element.name}}</option>
                {{/each}}
            </select>
            {{/select}}
        </div>
    </div>
</div>
