<h2>
    {{localize "SHIPSHEET.InternalComponents"}}
</h2>
<div class="row tableheading">
    <div class="col-7">
        {{localize "SHIPSHEET.ComponentName"}}
    </div>
    <div class="col-1">
        {{localize "SHIPSHEET.ComponentSize"}}
    </div>
    <div class="col-1">
        {{localize "SHIPSHEET.ComponentStrength"}}
    </div>
    <div class="col-1">
        {{localize "SHIPSHEET.ComponentPower"}}
    </div>
    <div class="col-1">
        {{localize "SHIPSHEET.ComponentSizeModel"}}
    </div>
    <div class="col-1">
        {{localize "SHIPSHEET.ComponentActions"}}
    </div>
</div>
<div class="ship-components-weapons" data-drop-types="Ship Internal - AFM Units|Ship Internal - Cargo Racks|Ship Internal - Collector Limpet Controllers|Ship Internal - Docking Computer|Ship Internal - FSD Interdictor|Ship Internal - Fuel Scoops|Ship Internal - Hatch Breaker Limpet Controllers|Ship Internal - Hull Reinforcement Packages|Ship Internal - Module Reinforcement Packages|Ship Internal - Prospector Limpet Controllers|Ship Internal - Planetary Vehicle Hangars|Ship Internal - Refineries|Ship Internal - Shield Cell Banks|Ship Internal - Shield Generators|Ship Internal - Planetary Scanners|Ship Internal - Fighter Hangar|Ship Internal - Spaceship Hangar|Ship Internal - Passenger Cabins">
    {{#each internalComponents as |item i|}}
    <div class="row tablerow component-slot" data-component-name="shipInternalComponents" data-idx="{{i}}">
        <div class="col-7 tableheader text-left onChangeActiveDescription">
            {{#if item.item}}
            {{item.item.name}}
            {{else}}
            {{localize "SHIPSHEET.None"}}
            {{/if}}
        </div>
        <div class="col-1 tableinput">
            <select class="changeInternalComponentsSize" data-idx="{{i}}" >
                {{#each ../shipComponentClasses as |element x|}}
                <option value="{{element}}"
                        {{#if (eq element item.size)}}
                        selected="selected"
                        {{/if}}
                >{{element}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-1 tableinput">
            <span>{{item.item.system.strength.value}}</span>
        </div>
        <div class="col-1 tableinput">
            {{#if item.item.system.powerGenerated.value}}
            <span>
                {{item.item.system.powerGenerated.value}}
            </span>
            {{else}}
            <span>
                -{{item.item.system.powerConsumed.value}}
            </span>
            {{/if}}
        </div>
        <div class="col-1 tableinput">
            <input type="text" class="changeInternalComponentsModel" data-idx="{{i}}" value="{{item.model}}">
        </div>
        <div class="col-1 tableinput">
            <span class="removeShipComponent" data-component-name="shipInternalComponents" data-idx="{{i}}">
                <i class="fas fa-trash"></i>
            </span>
        </div>
        <div class="col-12 tabledescripion">
            <div>
                {{{item.item.system.details.description.value}}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
