<h2>
  {{localize "SHIPSHEET.UtilityMounts"}}
</h2>
<div class="row tableheading">
  <div class="col-8">
    {{localize "SHIPSHEET.ComponentName"}}
  </div>
  <div class="col-1">
    {{localize "SHIPSHEET.ComponentStrength"}}
  </div>
  <div class="col-1">
    {{localize "SHIPSHEET.ComponentPower"}}
  </div>
  <div class="col-1">
    {{localize "SHIPSHEET.ComponentSizeModel"}}
  </div>
  <div class="col-1">
    {{localize "SHIPSHEET.ComponentActions"}}
  </div>
</div>
<div class="ship-components-utils" data-drop-types="Ship Utility Mounts">
  {{#each utilityMounts as |item i|}}
  <div class="row tablerow component-slot" data-component-name="shipUtilityMounts" data-idx="{{i}}">
    <div class="col-8 tableheader text-left onChangeActiveDescription">
      {{#if item.item}}
      {{item.item.name}}
      {{else}}
      {{localize "SHIPSHEET.None"}}
      {{/if}}
    </div>
    <div class="col-1 tableinput">
      <span>{{item.item.system.strength.value}}</span>
    </div>
    <div class="col-1 tableinput">
      {{#if item.item.system.powerGenerated.value}}
      <span>
                {{item.item.system.powerGenerated.value}}
            </span>
      {{else}}
      <span>
                -{{item.item.system.powerConsumed.value}}
            </span>
      {{/if}}
    </div>
    <div class="col-1 tableinput">
      <input type="text" class="changeUtilityMountModel" data-idx="{{i}}" value="{{item.model}}">
    </div>
    <div class="col-1 tableinput">
            <span class="removeShipComponent" data-component-name="shipUtilityMounts" data-idx="{{i}}">
                <i class="fas fa-trash"></i>
            </span>
    </div>
    <div class="col-12 tabledescripion">
      <div>
        {{{item.item.system.details.description.value}}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
