<h2>
  {{localize "SHIPSHEET.Weapons"}}
</h2>
<div class="ship-components row" data-drop-types="Ship Weapons">
  {{#each weapons as |item i|}}
    <div class="col col-12 col-content-md-6 col-content-lg-4 col-content-xl-3 component shipWeapons
        {{#if item.item}}
        {{else}}
        empty
        {{/if}}
      " data-componentName="shipWeapons" data-idx="{{i}}">
      <div class="component-inner">
        <span class="weaponSlotSettings" data-idx="{{i}}" title="{{localize 'SHIPSHEET.WeaponSlotMaxSize'}}">
          <i class="fas fa-cog"></i>
        </span>
        {{#if item.item}}
          {{item.item.name}}
        {{else}}
          {{localize "SHIPSHEET.Empty"}}
        {{/if}}
        <div class="stats">
          {{#if item.item}}
          PWR: {{item.item.system.powerConsumed.value}};
          STR: {{item.item.system.strength.value}};
          SIZE: {{#with (lookup ../shipWeaponsSizes item.size) as |sz|}}{{localize sz.name}}{{/with}};
          {{else}}
          PWR: ---;
          STR: ---;
          SIZE: {{#with (lookup ../shipWeaponsSizes item.size) as |sz|}}{{localize sz.name}}{{/with}};
          {{/if}}
          {{#if item.item}}
          <span class="removeShipComponent" data-component-name="shipWeapons" data-idx="{{i}}">
            <i class="fas fa-trash"></i>
          </span>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
