<section class="tab-sections">
    <nav class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false;">
        <a class="item active" data-tab="main">{{localize "ITEM.Description"}}</a>
    </nav>
    <section class="content">
        <div class="tab main save-scroll" data-tab="main">
            {{> systems/edrpg/templates/items/partials/item-ship-component-size.html}}
            {{> systems/edrpg/templates/items/partials/item-ship-power-consumed.html}}
            {{> systems/edrpg/templates/items/partials/item-ship-strength.html}}

            <div class="container">
                <div class="row">
                    <div class="col-12"><h2>{{localize "ITEM.ShipAccuracyBonus"}}</h2></div>
                </div>
                <div class="row">
                    <div class="col-12 col-content-md-6 col-content-lg-4">
                        <span>{{localize 'ITEM.ShipAccuracyBonus'}}</span>
                    </div>
                    <div class="col-12 col-content-md-6 col-content-lg-8">
                        <input type="number" value="{{system.accuracyBonus.value}}" name="system.accuracyBonus.value" min="1" step="1"
                               placeholder="{{localize 'ITEM.ShipAccuracyBonus'}}" title="{{localize 'ITEM.ShipAccuracyBonus'}}">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12"><h2>{{localize "ITEM.ShipOverride"}}</h2></div>
                </div>
                <div class="row">
                    <div class="col-12 col-content-md-6 col-content-lg-4">
                        <span>{{localize 'ITEM.ShipOverride'}}</span>
                    </div>
                    <div class="col-12 col-content-md-6 col-content-lg-8">
                        <input type="number" value="{{system.override.value}}" name="system.override.value" min="0" step="1"
                               title="{{localize 'ITEM.ShipOverride'}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-content-md-6 col-content-lg-4">
                        <span>{{localize 'ITEM.ShipOverrideUnitsRoll'}}</span>
                    </div>
                    <div class="col-12 col-content-md-6 col-content-lg-8">
                        <input type="text" value="{{system.overrideUnitsRoll.value}}" name="system.overrideUnitsRoll.value"
                               placeholder="1d10" title="{{localize 'ITEM.ShipOverrideUnitsRoll'}}">
                    </div>
                </div>
            </div>

            {{> systems/edrpg/templates/items/partials/item-all-description.html}}
            {{> systems/edrpg/templates/items/partials/item-all-cost.html}}
        </div>
    </section>
</section>
